@font-face {
    font-family: "nohemiEB";
    src: url(../fonts/NOHEMI-EXTRABOLD.otf);
}
@font-face {
    font-family: "nohemiEL";
    src: url(../fonts/NOHEMI-EXTRALIGHT.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.nav-item {
    font-family: NohemiEL, sans-serif;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    margin: 0 150px;
}

.nav-item:hover {
    background-color: #555;
}

.milieu {
    margin-top: 35vh;
}

.mainTitle {
    font-size: 600%;
}

.titleFirst {
    color: white;
    font-family: NohemiEL, sans-serif;
    margin-right: 10px;
}

.titleSecond {
    color: white;
    font-family: NohemiEB, sans-serif;
}

.subtitle {
    font-family: NohemiEL, sans-serif;
    font-size: 100%;
    color: #7e7e7e;
}

.height {
    height: 60vh;
}

.homepic {
    width: 90vw;
    border-radius: 50px;
}

.title {
    font-family: NohemiEB, sans-serif;
    font-size: 400%;
    color: white;
}

.EL {
    font-family: NohemiEL, sans-serif;
}

.rightTitle {
    font-family: NohemiEL, sans-serif;
    font-size:150%;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.marginTop {
    margin-top: 100px;
}

.marginBottom {
    margin-bottom: 50px;
}

.left {
    margin-left: 30px;
}

.width {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.illustration {
    margin: 10px;
    max-width: 35vw;
    max-height: 35vh;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 1s ease-in-out;
}

.choicePic {
    width: 45vw;
    border-radius: 15px;
    margin: 0 10px;
}

.reseaux {
    width: 70vw;
    border-radius: 15px;
}

.soutenir {
    width: 70vw;
    border-radius: 15px;
}

/**************************************************************************************************************************/
/* verified ou unmoderate */
/**************************************************************************************************************************/

.pageChoice {
    font-family: NohemiEL, sans-serif;
    font-size: 130%;
}

.pageChoice a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

.pageChoice a:hover {
    background-color: #555;
}

.blue {
    background-color: #165CFB;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}
.blue2 {
    background-color: #0b3ca9;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}
.blue3 {
    background-color: #052262;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
}

.red {
    background-color: #F94D12;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}

.red2 {
    background-color: #a93108;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}

.red3 {
    background-color: #601a02;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
}

/**************************************************************************************************************************/
/* illustration */
/**************************************************************************************************************************/

.totalHeight {
    height: 100vh;
}

.midHeight {
    align-items: center;
}

.big {
    max-width: 60vw;
    max-height: 60vh;
}

.text {
    font-family: NohemiEB, sans-serif;
    font-size: 150%;
    text-decoration: none;
}

.redText {
    color: #AF1B1B;
}

.margin {
    margin: 15px;
}

.buttonBlue {
    background-color: #165CFB;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0 10px;
}

.buttonBlue:hover {
    background-color: #0d3ca6;
}

.buttonRed {
    background-color: #EE4A2F;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0 10px;
}
.buttonRed:hover {
     background-color: #a2301e;
}

.buttonWB {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    width: auto;
}

.buttonWB:hover {
    background-color: #a6a6a6;
}

.buttonBW {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    width: auto;
}

.buttonBW:hover {
    background-color: #282828;
}

.lilMarginTop {
    margin-top: 30px;
}

.mini {
    background-image: url(../pics/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.backW {
    background-color: white;
    width: 70%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.form-group label {
    font-family: NohemiEB, sans-serif;
    font-size: 200%;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    font-size: 150%;
    font-family: NohemiEL, sans-serif;
    border: none;
    padding: 10px;
}

.form-group button {
    display: block;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

/**************************************************************************************************************************/
/* profil */
/**************************************************************************************************************************/

.tiffany {
    background-color: #0ABAB5;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}

.tiffany2 {
    background-color: #067774;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}

.tiffany3 {
    background-color: #033836;
    width: 95vw;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
}

.backTiffany {
    background-color: #0ABAB5;
}

.backTiffany:hover {
    background-color: #078885;
}

/**************************************************************************************************************************/
/* soutiens */
/**************************************************************************************************************************/

.donateButton {
    font-family: NohemiEB, sans-serif;
    font-size: 600%;
    background-color: #430707;
    color: #FF0000;
    border-radius: 30px;
    padding: 20px;
    text-decoration: none;
}

.donateButton:hover {
    background-color: #FFECE6;
}