@font-face {
    font-family: "Futura";
    src: url(../fonts/FuturaBoldItalic.ttf);
}
@font-face {
    font-family: "Futurabook";
    src: url(../fonts/FuturaBookItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky-bar {
    position: sticky;
    top: 0px;
    background-color: #000000;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
    padding: 20px 20px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 100;
}

.bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nameBar {
    text-decoration: none;
    color: white;
    font-family: Futura, sans-serif;
    font-size: 130%;
}

.bar-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bar-links li {
    display: inline;
    margin-right: 20px;
}

.links {
    text-decoration: none;
    color: white;
    font-family: Futura, sans-serif;
    font-size: 130%;
}

.presentationPic {
    width: 100%;
}

.singleContent {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.picContent {
    margin: 15px;
    width: 350px;
}

.pic {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.2);
}

.picName {
    font-family: Futurabook, sans-serif;
    text-align: center;
    display: block;
    color: #262626;
}

.text {
    color: black;
    font-family: Futura, sans-serif;
    font-size: 130%;
}

.changeInformation {
    margin-bottom: 150px;
}

.changePic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.modify {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.impactText {
    font-family: "Futura", serif;
    font-size: 130%;
    color: white;
    background-color: black;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.searchBox a {
    font-family: "Futura", serif;
    font-size: 130%;
}

.search {
    font-family: "Futura", serif;
    font-size: 130%;
    color: #000000;
    padding: 5px;
    text-align: left;
    border: none;
    outline: none;
}

.submitButton {
    display: flex;
    justify-content: center;
}

.sendButton {
    border: none;
    background-color: white;
    color: black;
    font-family: Futura, sans-serif;
    font-size: 130%;
}

.sendButton:hover {
    background-color: black;
    color: white;
}

.pageChoice {
    margin-top: 50px;
    font-family: Futura, sans-serif;
    font-size: 130%;
    display: flex;
    justify-content: center;

}
.pageChoice a{
    padding: 5px;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.1);
}

.choiceText {
    background-color: #00FF00;
    color: white;
    font-family: Futura, sans-serif;
    font-size: 130%;
    margin: 50px;
}

.non-choiceText {
    background-color: #000000;
    color: white;
    font-family: Futura, sans-serif;
    font-size: 130%;
    margin: 50px;
    text-decoration: none;
}

.error-message {
    font-family: Futurabook, sans-serif;
}

.xvtContent {
    display: flex;
    justify-content: center;
}

.x {
    background-color: #AF1B1B;
    font-family: Futura, sans-serif;
    text-decoration: none;
    color: white;
    margin: 20px;
}

footer {
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: center;
    bottom: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.centered {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content a {
    text-decoration: none;
    color: white;
    font-family: 'Futura', sans-serif;
    font-size: 100%;
}